/* 存放网站通用 class 文件 */
html,
body {
    height: 100%;
}

body {
    font-family: Helvetica, STHeiti;
    position: relative;
    height: auto;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

a {
    color: $st-dark-primary-color;

    &:hover {
        text-decoration: none;

        color: $st-accent-color;
    }
}

ul {
    padding: 0;
    list-style: none;
}

.clr:after {
    display: table;
    clear: both;
    content: '';
}

.wrap {
    max-width: $max-width;
    margin: 0 auto;
    min-width: $min-width;
}

.container {
    padding-bottom: $page-bottom;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 6em;
}

.card-wrap {
    padding: 1em;
}

.w100 {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background .3s ease-in-out;
    background: rgba(255,255,255,0);
}

.danger {
    color: #d9534f !important;
}
