.footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    text-align: center;

    border-top: 1px solid #b6b6b6;
    background: $st-text-color;
}

.footer p {
  margin-top: 1em;
}