/* 导航栏 */
.ST-nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 1em;
    padding: (5 * $border-width) 0;
    border-top: ($border-width * 3) solid $st-accent-color;
    background: rgba(#FFFFFF, 0.95);

    @include st-box-shadow(0 0 5px rgba($gray-light, 0.75));
    .ST-navbar:after {
        display: table;
        clear: both;
        content: '';
    }
    .ST-logo {
        float: left;
        width: 150px;
        .logo {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            background-image: url(http://localhost:8888/public/static/images/logo.jpg);
            background-size: 50px 50px;
        }
    }
    .search-wrap {
        float: left;
        margin-top: 0.35em;
        .input-group {
            width: 500px;
        }
        .input-group input {
            @include st-box-shadow($box-shadow-inset);
            &:focus {
                border-color: $st-accent-color;

                @include st-box-shadow(none);
            }
        }
        .search-btn {
            width: 50px;
            padding: 0;
            cursor: pointer;
        }
        .search-btn:hover {
            color: $st-accent-color;
        }
        .search-btn button {
            width: 100%;
            padding: 0;
            border: 0;
            background: none;
        }
    }
    .gb-profile {
        float: right;
        padding: 11px 0;
        a {
            margin-right: 1em;
            color: $st-primary-text;
        }
        a:hover {
            color: $st-accent-color;
        }
        a span {
            margin-left: 5px;
        }
    }
}


@media screen and (max-width: 990px) {
    .ST-nav {
        .ST-logo {
            width: 100px;
        }
        .search-wrap {
            .input-group {
                width: 300px;
            }
        }
    }
}
