.DS_Store
.git
# Logs
logs
*.log
npm-debug.log*

# Thumbnails
._*

## Directory-based project format:
.idea

# ctags files
.tags
.gemtags
.tags_sorted_by_file

# uploaded images
public/upload/

# smarty cache
public/tpl_c/

# sass cache
.sass-cache

# test
_test

# node_modules
node_modules