@charset 'UTF-8';

@import '../import';

.profile-area {
    max-width: 600px;
    margin: 0 auto;

    .avatar-hodler {
        width: 100px;
        height: 100px;
        margin: 0 .75em .75em .75em;

        img {
            width: 100%;
        }
    }

    .avatar-upload-field {
        top: 4em;
        padding: 0 .75rem;
    }
}
