/* web main color style */
/* tip */
/* line 1, ../sass/components/_post-box.scss */
.post-holder {
  padding: 1.5em;
}

/* line 5, ../sass/components/_post-box.scss */
.yo {
  color: #009688;
}

/* line 9, ../sass/components/_post-box.scss */
.post-textbox-fake {
  display: none;
}
/* line 11, ../sass/components/_post-box.scss */
.post-textbox-fake .ps-box {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 17, ../sass/components/_post-box.scss */
.post-textbox-fake .ps-box .ps-inner {
  text-align: center;
  margin-top: 1em;
  font-size: 22px;
}
/* line 22, ../sass/components/_post-box.scss */
.post-textbox-fake .ps-box .ps-inner .fa {
  color: #5cb85c;
}
/* line 25, ../sass/components/_post-box.scss */
.post-textbox-fake .ps-box .ps-inner span {
  color: #373a3c;
  font-weight: bold;
}

/* line 34, ../sass/components/_post-box.scss */
.publish-textbox {
  margin-bottom: 1em;
}

/* line 38, ../sass/components/_post-box.scss */
.post-textbox-wrap {
  line-height: 0;
}

/* line 42, ../sass/components/_post-box.scss */
.publish-textbox .post-textbox, .publish-textbox .post-textbox-fake {
  width: 100%;
  height: 6.2em;
  padding: .5em;
  resize: none;
  border: 1px solid #CFD8DC;
  outline: none;
  box-shadow: inset 0 0 15px 0 rgba(163, 180, 188, 0.3);
  line-height: 1.5;
}

/* line 55, ../sass/components/_post-box.scss */
.publish-textbox .post-textbox:focus {
  border-color: #009688;
  box-shadow: none;
}

/* line 60, ../sass/components/_post-box.scss */
.media-holder {
  margin-top: .4em;
  margin-left: 2px;
}

/* line 65, ../sass/components/_post-box.scss */
.media-holder .media-btn em {
  margin-right: .2em;
  vertical-align: bottom;
}

/* line 71, ../sass/components/_post-box.scss */
.media_box {
  margin-bottom: 1em;
}

/* line 74, ../sass/components/_post-box.scss */
.media_box:after {
  display: table;
  clear: both;
  content: '';
}

/* line 81, ../sass/components/_post-box.scss */
.media_post_item {
  position: relative;
  float: left;
}

/* line 86, ../sass/components/_post-box.scss */
.media_post_item:hover .overlay {
  background: rgba(255, 255, 255, 0.5);
}

/* line 90, ../sass/components/_post-box.scss */
.media_post_item img {
  width: 50px;
  height: 50px;
}

/* line 95, ../sass/components/_post-box.scss */
.media_post_item .opr {
  font-size: 20px;
  line-height: 1;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: block;
  width: 15px;
  text-align: center;
}

/* line 111, ../sass/components/_post-box.scss */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background .3s ease-in-out;
  background: rgba(255, 255, 255, 0);
}

/* line 1, ../sass/components/_feed.scss */
.ST-info {
  margin: 0 0 3px 0;
}

/* line 5, ../sass/components/_feed.scss */
.avatar {
  width: 50px;
  height: 50px;
}

/* line 10, ../sass/components/_feed.scss */
.avatar img {
  width: 100%;
  border-radius: 100%;
}

/* line 16, ../sass/components/_feed.scss */
.ST-detail {
  margin-left: 70px;
}

/* line 20, ../sass/components/_feed.scss */
.ST-media-box:after {
  display: table;
  clear: both;
  content: '';
}

/* line 27, ../sass/components/_feed.scss */
.ST-media {
  float: left;
  width: 271px;
  margin: 0;
  margin-left: -5px;
  padding: 0;
}

/* line 36, ../sass/components/_feed.scss */
.ST-media:after {
  display: table;
  clear: both;
  content: '';
}

/* line 43, ../sass/components/_feed.scss */
.ST-media li {
  float: left;
  margin: 5px 0 0 5px;
}

/* line 49, ../sass/components/_feed.scss */
.s-img {
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background: #eceeef;
}

/* line 60, ../sass/components/_feed.scss */
.s-img img {
  width: 100%;
  background: #FFF;
}

/* line 67, ../sass/components/_feed.scss */
.bg-cursor {
  cursor: -webkit-zoom-in !important;
}

/* line 71, ../sass/components/_feed.scss */
.sm-cursor {
  cursor: -webkit-zoom-out !important;
}

/* line 75, ../sass/components/_feed.scss */
.next-cursor {
  cursor: e-resize;
}

/* line 79, ../sass/components/_feed.scss */
.prev-cursor {
  cursor: w-resize;
}

/* line 85, ../sass/components/_feed.scss */
.ST-expend-media-box {
  background: #CFD8DC;
}

/* line 89, ../sass/components/_feed.scss */
.ST-expend-media {
  margin: 2px 0 8px;
  padding: 12px 16px 16px;
}

/* line 94, ../sass/components/_feed.scss */
.tab ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}

/* line 100, ../sass/components/_feed.scss */
.tab ul li {
  float: left;
  margin-right: 30px;
}

/* line 106, ../sass/components/_feed.scss */
.tab ul li a {
  color: #727272;
  font-size: 14px;
}

/* line 110, ../sass/components/_feed.scss */
.tab ul li a:hover {
  color: #009688;
}

/* line 114, ../sass/components/_feed.scss */
.tab ul li a i {
  margin-right: 5px;
}

/* line 118, ../sass/components/_feed.scss */
.tab ul li .material-icons {
  font-size: 14px;
  margin-right: 3px;
  vertical-align: middle;
}

/* line 126, ../sass/components/_feed.scss */
.ST-media-view {
  margin: 10px 15px;
}

/* line 130, ../sass/components/_feed.scss */
.media-show-box {
  overflow: hidden;
}

/* line 134, ../sass/components/_feed.scss */
.artwork-box img {
  max-width: 100%;
  background: #FFF;
  display: block;
  margin: 0 auto;
}

/* line 141, ../sass/components/_feed.scss */
.post-datetime {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 70px;
  color: #9f9f9f;
}

/* line 151, ../sass/components/_feed.scss */
.pic-select-box {
  margin-top: 5px;
}

/* line 155, ../sass/components/_feed.scss */
.stage-box {
  overflow: hidden;
}

/* line 159, ../sass/components/_feed.scss */
.stage-box .choose-box {
  margin: 0 0 0 -10px;
}

/* line 163, ../sass/components/_feed.scss */
.stage-box .choose-box:after {
  display: table;
  clear: both;
  content: '';
}

/* line 170, ../sass/components/_feed.scss */
.stage-box .choose-box li {
  float: left;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

/* line 179, ../sass/components/_feed.scss */
.stage-box .choose-box li img {
  width: 100%;
}

/* line 183, ../sass/components/_feed.scss */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}

/* line 194, ../sass/components/_feed.scss */
.post-opration {
  position: absolute;
  right: 1em;
  top: 1em;
}

/* line 200, ../sass/components/_feed.scss */
.dropdown .dropdown-btn {
  color: #e5e5e5;
}

/* line 203, ../sass/components/_feed.scss */
.dropdown .dropdown-btn:hover {
  color: #818a91;
}

/* line 207, ../sass/components/_feed.scss */
.dropdown-open {
  display: block;
  right: 0;
  left: auto;
}
