// FontAwesome path
@import 'vendors/fontAwesome/_variables';
// bootstrap variables
@import 'vendors/bootstrap/_variables';

/* web main color style */
$st-dark-primary-color: #455A64 !default;
$st-primary-color: #607D8B !default;
$st-lighter-primary-color: #CFD8DC !default;
$st-text-color: #FFFFFF !default;
$st-accent-color: #009688 !default;
$st-primary-text: #212121 !default;
$st-secondary-text: #727272 !default;
$st-divider-color: #B6B6B6 !default;

$max-width: 1200px !default;
$min-width: 700px !default;
$page-bottom: 7.5em !default; // 80px from bottom
$padding: 3.125em !default; // 50px
$login-width: 400px !default;

$box-shadow: 0 0 15px 0 rgba(darken($st-lighter-primary-color, 15%), 0.3);
$box-shadow-inset: inset 0 0 15px 0 rgba(darken($st-lighter-primary-color, 15%), 0.3);

$logo: 'http://localhost:8888/public/static/images/logo.jpg'; // logo url