@charset 'UTF-8';

@import '_variables';


.login-area {
    max-width: 400px;
    margin: $padding auto 0 auto;
}

.login-card {
    background: url(http://localhost:8888/public/static/images/logo.jpg) no-repeat 345px 13px #fff;
    background-size: 45px;
}

.login-legend {
    font-size: 24px;

    margin-bottom: $padding/3;

    color: $st-accent-color;
}

.card-bottom {
    width: 95%;
    margin: -1em auto 0 auto;
    padding: 1em;

    box-shadow: 0 0 15px 0 rgba(163, 180, 188, .3);
}

/* 个人资料 profile */
.profile-area {
    max-width: 600px;
    margin: $padding auto 0 auto;
}

.profile-area .login-card {
    background-position: 98% 13px;
}

.avatar-hodler {
    width: 100px;
    height: 100px;
    margin: 0 .75em .75em .75em;
}

.avatar-hodler img {
    width: 100%;
}

.avatar-upload-field {
    top: 4em;

    padding: 0 .75rem;
}
